.movie {
  display: flex;
  justify-content: start;
  position: relative;
  padding: 1.5rem;
  margin: 1rem;
  flex-direction: column;
  background-color: var(--third-color);
  width: 20em;
  height: 50em;
  overflow: hidden;
}
.movie img {
  width: 100%;
  border: .1rem solid rgb(0, 0, 0);
}
.movie h1{
  font-size: 2rem;
  letter-spacing: .2rem;
  margin: 0.5rem 0 0 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(rgb(0, 0, 0));
  color: rgb(16, 242, 16);
}
.movie h2{
  position: absolute;
  top: 9.2em;
  right: 1.9rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
  color: rgb(11, 255, 218);
  box-shadow: .1rem .1rem 1rem black;
  text-shadow: .1rem .1rem 2rem black;
  width: 5rem;
}
.movie p{
  letter-spacing: .15rem;
  font-size: 1.6rem;
  text-align: center;
  margin: 0.5rem;
}
.hight{
  background-color: gold;
  
}
.middle{
  background-color: green;
  
}
.low{
  background-color: red;
}
.none{
 display: none;
}
.movie:hover{
  box-shadow: 0.1rem 0.1rem 1rem black;
  cursor: pointer;
}
@media screen and (max-width:660px){
  .movie{
    width: 20em;
    height: 40em;
  }
}
@media screen and (max-width:450px){
  .movie{
    width: 30rem;
    height: 50rem;
  }
  .movie h2{
    top: 32rem;
    right: 2rem;
  }
}
@media screen and (max-width:350px) {
  .movie{
    width: 25rem;
    height: 50rem;
  }
  .movie h2{
    top: 25rem;
    right: 2rem;
  }
}
@media screen and (max-width:275px) {
  .movie{
    width: 20rem;
    height: 40rem;
  }
  .movie h2{
    top: 18rem;
    right: 2rem;
    
  }
}